body {
	font-family: sans-serif;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

h2 {
  		font-size: 24px;
  		font-weight: bold;
  		margin-bottom: 20px;
}

.error {
	color: red;
}

label {
	display: block;
	font-size: 20px;
}

input[type=text] {
	width: 400px;
	font-size: 20px;
	padding: 2px;
}

textarea {
	width: 400px;
	height: 200px;
	font-size: 17px;
	font-family: monospace;
}

input[type=submit] {
	font-size: 24px;
}

.plain-link {
	text-decoration: none;
	color: black;
}

a {
	color: black;
}

a:hover {
	color: gray;
}

.tiny-link {
	font-size: 9px;
	font-family: "Times New Roman";
	color: black;
	text-decoration: none;
}

.footnote {
	font-size: 9px;
	font-family: "Helvetica";
	color: black;
}

hr {
	margin: 20px auto;
}
		
.blogpost + .blogpost {
	margin-top: 25px;
}

.blogpost-subject {
	font-weight: bold;
	color: #03822F;
	font-size: 20px;
	font-family: "Garamond";
}

.blogpost-content {
	margin: 0;
	font-size: 14px;
	margin-top: 4px;
	padding: 6px;
}

.blogpost-created {
	font-weight: italic;
	font-size: 10px;
	margin-top: 8px;
}

.bar-chart-subhead {
	font-family: "Helvetica"; 
	font-weight: bold; 
	font-size: 12;
	padding-left: 10px;
	color: gray;
	border-radius: 3;
}

.graph-bar + .graph-bar {
	margin-top: 2px;
}

.bar-chart-bar-label {
	font-family: "Arial"; 
	font-size: 10; 
	padding:2px; 
	color:#000; 
	float:left; 
	padding-right:2px;
}

table th {
	border-top: 3px solid gray;
}